<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meeting Room Booking - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/site.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/datetimepicker/bootstrap-datetimepicker.min.css">
    <script src="/static/js/jquery-3.5.1.js"></script>
    <script src="/static/datetimepicker/bootstrap-datetimepicker.min.js"></script>
</head>
<body>
{% include 'nav.html' %}
<div class="calender pull-right">
      <div class='input-group' style="width: 380px;left:30px;">
        <span class="font-weight-bold" style="margin-right: 10px;">Choose Booking Date:</span>
            <input type='text' class="form-control" id='datetimepicker1' placeholder=""/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
      </div>
</div>
<table class="table table-bordered table-striped">
    <thead>
       <tr>
             <th>Meeting Room/Time</th>
              {% for time_choice in time_choices %}
              <th>{{ time_choice.1 }}</th>
              {% endfor %}
       </tr>
    </thead>
<tbody>
     {{ htmls|safe }}
</tbody>
</table>
{% csrf_token %}
<button class="btn btn-success" id="btnBook">Save</button>

<script type="text/javascript">
    Date.prototype.yuan = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, 
                "d+": this.getDate(), 
                "h+": this.getHours(), 
                "m+": this.getMinutes(), 
                "s+": this.getSeconds(), 
                "q+": Math.floor((this.getMonth() + 3) / 3), 
                "S": this.getMilliseconds()
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        };

    var POST_DATA={
        "ADD":{},
        "DEL":{}       
    };

    // Add binding event for td tag
    function BindTd() {
        $(".item").click(function () {

             var room_id=$(this).attr("room_id");
             var time_id=$(this).attr("time_id");

             // cancel booking
             if($(this).hasClass("active")){
                $(this).removeClass("active").empty();

                 if(POST_DATA.DEL[room_id]){
                      POST_DATA.DEL[room_id].push(time_id)
                  }else {
                      POST_DATA.DEL[room_id]=[time_id,]
                  }
             }
             // temporarily cancel
             else if ($(this).hasClass("td_active")){
                 $(this).removeClass("td_active");
                 POST_DATA.ADD[room_id].pop()
             }
             else{ // add booking
                  $(this).addClass("td_active");
                  if(POST_DATA.ADD[room_id]){
                      POST_DATA.ADD[room_id].push(time_id)
                  }else {
                      POST_DATA.ADD[room_id]=[time_id]
                  }


             }
        })
    }
    BindTd();

     if (location.search.slice(11)){
           CHOOSE_DATE = location.search.slice(11)
          }
      else {
           CHOOSE_DATE = new Date().yuan('yyyy-MM-dd');
           }

    $("#btnBook").click(function () {
        $.ajax({
            url:"/book/",
            type:"POST",
            data:{
                 choose_date:CHOOSE_DATE,
                 post_data:JSON.stringify(POST_DATA),
                 csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType:"json",
            success:function (data) {
                console.log(data)
                if(data.state){
                    // booking succeeded
                    location.href=""
                }else {
                    alert("The meeting room is not available.")
                    location.href=""
                }
        }
        })
    });

    $('#datetimepicker1').datetimepicker({
                minView: "month",
                format: 'yyyy-mm-dd',
                startDate: new Date(),
                //bootcssVer: 3,
                autoclose: true,
            }).on('changeDate', book_query);

     function book_query(e) {
         CHOOSE_DATE=e.date.yuan("yyyy-MM-dd");
         location.href="/index/?book_date="+CHOOSE_DATE;
     }
</script>
</body>
</html>